body {
    /* position: relative; */
    margin:auto;
    padding: 10px;
    color: rgb(17, 6, 139);
    display: flex;
    justify-content:left; 
}

#weatherCard {
    font-size: 2em;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */

    position: absolute;

    text-align: center;

    background-image: url("pictures/sky.avif");
    border-radius: 10px;
    /* border: 5px solid yellow; */
    margin-top: 20px;
    padding: 0 40px;

    box-shadow: 5px  5px rgba(172, 172, 169, 0.568);
}

h1 {
    text-align: center;
    font-size: 3em;
}

#windPng {
    /* width: 50px; */
    height: 70px;
}

p {
    margin: 10px;
    padding: 15px;
}

#temperature {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    color: yellow;
}

#weathercode {
    padding: 20px;
}